<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>DASHMIN - Bootstrap Admin Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link th:href="@{/admin/img/favicon.ico}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link th:href="@{/admin/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link th:href="@{/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link th:href="@{/admin/css/style.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
  <!-- Spinner Start -->
  <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Spinner End -->


  <!-- Sidebar Start -->
  <th:block th:replace="~{fragment/sidebar::sidebar(apiPrefix=${apiPrefix})}"></th:block>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <th:block th:replace="~{fragment/navbar::navbar}"></th:block>
    <!-- Navbar End -->


    <!-- List Books Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="card">
        <h5 class="card-header">Danh sách sách</h5>
        <div class="card-body">
          <button
                  type="button"
                  class="btn btn-primary my-1"
                  data-bs-toggle="modal"
                  data-bs-target="#myModal"
          >
            Thêm mới sách
          </button>

          <!-- The Modal -->
          <form th:action="@{${apiPrefix + '/admin/books'}}" th:object="${book}" method="post" enctype="multipart/form-data">
            <div class="modal fade" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Thêm mới sách</h4>
                    <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                    ></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="createName"
                              th:field="*{name}"
                      />
                      <label for="createName">Tên sách</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="createAuthor"
                              th:field="*{author}"
                      />
                      <label for="createAuthor">Tên tác giả</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="createSupplier"
                              th:field="*{supplier}"
                      />
                      <label for="createSupplier">Nhà cung cấp</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="creaetPublisher"
                              th:field="*{publisher}"
                      />
                      <label for="creaetPublisher">Nhà xuất bản</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="CreatePublicationYear"
                              th:field="*{publicationYear}"
                      />
                      <label for="CreatePublicationYear">Năm xuất bản</label>
                    </div>
                    <div class="form-floating mb-3">
                      <select
                              class="form-select"
                              id="floatingSelect"
                              aria-label="Floating label select example"
                              th:field="*{coverType}"
                      >
                        <option th:each="coverType:${coverTypes}" th:value="${coverType}" th:text="${coverType}"></option>
                      </select>
                      <label for="floatingSelect">Hình thức bìa</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="text"
                              class="form-control"
                              id="createDescription"
                              th:field="*{description}"
                      />
                      <label for="createDescription">Mô tả</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="file"
                              class="form-control"
                              id="createThumbnail"
                              name="image"
                      />
                      <label for="createThumbnail">Ảnh</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="number"
                              class="form-control"
                              id="createSellingPrice"
                              step="1000"
                              min="0"
                              th:field="*{sellingPrice}"
                      />
                      <label for="createSellingPrice">Giá bán</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="number"
                              class="form-control"
                              id="createCost"
                              step="1000"
                              min="0"
                              th:field="*{cost}"
                      />
                      <label for="createCost">Giá nhập</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="number"
                              class="form-control"
                              id="createDiscount"
                              step="1"
                              min="0"
                              th:field="*{discount}"
                      />
                      <label for="createDiscount">Giảm giá</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="createCategories" data-bs-toggle="dropdown" aria-expanded="false">
                          Thể loại
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="createCategories">
                          <li th:each="category:${categories}" ><input th:field="*{categories}" th:value="${category.name}" type="checkbox" th:text="${category.name}"></li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="number"
                              class="form-control"
                              id="createPageCount"
                              step="1"
                              min="0"
                              th:field="*{pageCount}"
                      />
                      <label for="createPageCount">SỐ trang</label>
                    </div>
                    <div class="form-floating mt-2 mb-3">
                      <input
                              type="file"
                              class="form-control"
                              id="createImages"
                              name="images"
                              multiple
                      />
                      <label for="createImages">Ảnh mô tả</label>
                    </div>

                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button
                            type="button"
                            class="btn btn-danger"
                            data-bs-dismiss="modal"
                    >
                      Hủy
                    </button>
                    <button
                            type="submit"
                            class="btn btn-primary"
                    >
                      Thêm
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên sách</th>
              <th scope="col">Giá bán</th>
              <th scope="col">Giá vốn</th>
              <th scope="col">Tồn kho</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Ngày cập nhật</th>
              <th scope="col">Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book:${books}">
              <td th:text="${book.id}"></td>
              <td th:text="${book.name}"></td>
              <td th:text="${book.getSellingPriceString()} + ' đ'"></td>
              <td th:text="${book.getCostString()} + ' đ'"></td>
              <td th:text="${book.stock}"></td>
              <td th:text="${book.createdAt}"></td>
              <td th:text="${book.updatedAt}"></td>
              <td>
                <button type="button" class="btn btn-success infor-btn" th:data-id="${book.id}" data-bs-toggle="modal" data-bs-target="#inforModal"><i class="far fa-eye"></i></button>
                <button type="button" class="btn btn-primary"><i class="fas fa-pen"></i></button>
                <button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" th:data-id="${book.id}"
                        data-bs-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer text-center">

<!--          <form method="get" th:action="@{${apiPrefix + '/admin/users'}}">-->
<!--            <div class="btn-group me-2" role="group" aria-label="First group">-->
<!--              <button type="submit" class="btn btn-outline-primary" th:each="num : ${#numbers.sequence(1, totalPages)}" name="page" th:value="${num}" th:text="${num}"></button>-->
<!--            </div>-->
<!--          </form>-->
        </div>
      </div>
    </div>
    <!-- List Books End -->
    <form th:action="@{${apiPrefix + '/admin/books'}}" th:method="post" id="deleteForm">
      <input type="hidden" name="_method" value="delete"/>
      <div class="modal" id="deleteModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Thông báo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Bạn có đồng ý xóa không?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary">Đồng ý</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Delete Modal Start -->

    <!-- Delete Modal End -->

    <!-- Information Modal Start   -->
    <form th:action="@{${apiPrefix + '/admin/books'}}" th:method="post" id="updateForm" th:object="${book}" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="put"/>
      <div class="modal" id="inforModal">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Thông tin chi tiết </h4>
              <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
              ></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="row">
                <!-- Form Section -->
                <div class="col-md-6 inputField">
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updateName" th:field="*{name}"/>
                    <label for="updateName">Tên sách</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updateAuthor" th:field="*{author}"/>
                    <label for="updateAuthor">Tên tác giả</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updateSupplier" th:field="*{supplier}"/>
                    <label for="updateSupplier">Nhà cung cấp</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updatePublisher" th:field="*{publisher}"/>
                    <label for="updatePublisher">Nhà xuất bản</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updatePublicationYear" th:field="*{publicationYear}"/>
                    <label for="updatePublicationYear">Năm xuất bản</label>
                  </div>
                  <div class="form-floating mb-3">
                    <select
                            class="form-select"
                            id="updateCoverType"
                            aria-label="Floating label select example"
                            th:field="*{coverType}"
                    >
                      <option th:each="coverType:${coverTypes}" th:value="${coverType}" th:text="${coverType}"></option>
                    </select>
                    <label for="updateCoverType">Hình thức bìa</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="text" class="form-control" id="updateDescription" th:field="*{description}"/>
                    <label for="updateDescription">Mô tả</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="file" class="form-control" id="updateThumbnail"  name="image"/>
                    <label for="updateThumbnail">Ảnh</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="number" class="form-control" id="updateSellingPrice" th:field="*{sellingPrice}"/>
                    <label for="updateSellingPrice">Giá bán</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="number" class="form-control" id="updateCost" th:field="*{cost}"/>
                    <label for="updateCost">Giá nhập</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="number" class="form-control" id="updateDiscount" th:field="*{discount}"/>
                    <label for="updateDiscount">Giảm giá</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="number" class="form-control" id="updatePageCount" th:field="*{pageCount}"/>
                    <label for="updatePageCount">Số trang</label>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="updateCategories" data-bs-toggle="dropdown" aria-expanded="false">
                        Thể loại
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="updateCategories">
                        <li th:each="category:${categories}" ><input class="category-element"  th:field="*{categories}" th:value="${category.name}" type="checkbox" th:text="${category.name}"></li>
                      </ul>
                    </div>
                  </div>
                  <div class="form-floating mt-2 mb-3">
                    <input type="file" class="form-control" id="updateImages"  name="images" multiple/>
                    <label for="updateImages">Ảnh mô tả</label>
                  </div>
                </div>
                <!-- Carousel Section -->
                <div class="col-md-6 imgInput">
                  <div id="thumbnail" class="card">

                  </div>
                  <div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators d-flex justify-content-center" id="bookSlide">
                    </div>
                    <div class="carousel-inner" id="bookList">
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>


            <!-- Modal footer -->
            <div class="modal-footer">
              <button
                      type="button"
                      class="btn btn-danger"
                      data-bs-dismiss="modal"
              >
                Hủy
              </button>
              <button
                      type="submit"
                      class="btn btn-primary"
              >
                Cập nhật
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Information Modal End   -->

    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
      <div class="bg-light rounded-top p-4">
        <div class="row">
          <div class="col-12 col-sm-6 text-center text-sm-start">
            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
          </div>
          <div class="col-12 col-sm-6 text-center text-sm-end">
            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End -->
  </div>
  <!-- Content End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/admin/lib/chart/chart.min.js}"></script>
<script th:src="@{/admin/lib/easing/easing.min.js}"></script>
<script th:src="@{/admin/lib/waypoints/waypoints.min.js}"></script>
<script th:src="@{/admin/lib/owlcarousel/owl.carousel.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/moment.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script th:src="@{/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/admin/js/main.js}"></script>
<script>
 // Delete Book
  let deleteBtns = document.querySelectorAll('.delete-btn');
  var apiPrefix = '[[${apiPrefix}]]'
  deleteBtns.forEach(btn => {
      btn.addEventListener('click', () => {
          let bookId = btn.getAttribute('data-id');
          let form = document.getElementById('deleteForm');
          form.setAttribute('action',`${apiPrefix}/admin/books/${bookId}`);
      });
  });

  //Display information book
  let inforBtns = document.querySelectorAll('.infor-btn');
  inforBtns.forEach(btn => {
    btn.addEventListener('click', () => {
      let bookId = btn.getAttribute('data-id');
      fetch(`${apiPrefix}/admin/books/${bookId}`)
      .then(response => response.json())
      .then(data => {
      document.getElementById('updateForm').setAttribute('action',`${apiPrefix}/admin/books/${bookId}`);
      document.getElementById('updateName').value = data.name;
      document.getElementById('updateAuthor').value = data.author;
      document.getElementById('updatePublisher').value = data.publisher;
      document.getElementById('updatePublicationYear').value = data.publicationYear;
      document.getElementById('updateDiscount').value = data.discount;
      document.getElementById('updateSupplier').value = data.supplier;
      let categories =[];
      data.categories.forEach(category => {
        categories.push(category.name);
      });
      document.querySelectorAll('.category-element').forEach(category => {
        if(categories.includes(category.value)) category.checked = true;
      });
      document.getElementById('updateCoverType').value = data.coverType;
      document.getElementById('updateDescription').value = data.description;
      document.getElementById('updateSellingPrice').value = data.sellingPrice;
      document.getElementById('updateCost').value = data.cost;
      document.getElementById('updatePageCount').value = data.pageCount;
      document.getElementById('thumbnail').innerHTML=`<img src="${data.thumbnail}" class="w-100"></img>`;
      let listBookHTML = '';
      let bookSlides = '';
      let count = 0;
      data.bookImages.forEach(bookImage => {
        if(count === 0) {
          bookSlides += `<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${count}" class="active" aria-current="true" aria-label="${count}"></button>`;
          listBookHTML += `<div class="carousel-item active">
                         <img src="${bookImage.image_url}" class="d-block mw-100" alt="...">
                         </div>`;
          count ++;
        }
        else {
          bookSlides += `<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="${count}"  aria-label="${count}"></button>`;
          listBookHTML += `<div class="carousel-item">
                         <img src="${bookImage.image_url}" class="d-block w-100" alt="...">
                         </div>`;
          count ++;
        }
      });

      console.log(bookSlides);
      console.log(listBookHTML);

       const carouselIndicators = document.getElementById('bookSlide');
        if (carouselIndicators) {
          carouselIndicators.innerHTML = bookSlides;
        } else {
          console.error("Lỗi: Không tìm thấy phần tử carouselIndicators");
        }

        const carouselInner = document.getElementById('bookList');
        if (carouselInner) {
          carouselInner.innerHTML = listBookHTML;
        } else {
          console.error("Lỗi: Không tìm thấy phần tử carouselInner");
        }
      })
      .catch(error => {
        console.log(error);
      })
    })
  });


</script>
</body>

</html>